$white: #ffffff;
$black: #000000;
$brown: #916000;
$grey: #8D8D8D;
$lightbrown: #AC8A46;

$fz14: 14px;
$fz16: 16px;
$fz20: 20px;
$fz24: 24px;
$fz30: 30px;
$fz32: 32px;
$fz40: 40px;

$ff-ch: "PingFang TC";
$ff-en: "SF Pro Text";
